{%- doc -%}
  Renders the cart summary totals.

  @param {string} [accelerated_checkout_buttons_layout] - { 'vertical' } Forced layout of the additional checkout buttons, instead of relying on platform's layout.
  @param {string} [section_id] - The section ID for cart discount component.
{%- enddoc -%}

{% render 'text-component-shimmer-styles' %}

<div class="cart-totals">
  {% # We need to keep this node in place to allow morphing to work properly # %}
  <div class="cart-totals__original-container cart-primary-typography">
    {%- if cart.cart_level_discount_applications.size > 0 -%}
      <span class="cart-totals__item cart-totals__original">
        <span class="cart-totals__original-label">{{ 'content.cart_subtotal' | t }}</span>
        <span
          class="cart-totals__original-value cart-secondary-typography"
          data-testid="cart-subtotal-value"
        >
          {{- cart.items_subtotal_price | money -}}
        </span>
      </span>
      <ul
        class="cart-discounts"
        role="list"
        aria-label="{{ 'content.discounts' | t }}"
      >
        {%- for discount in cart.cart_level_discount_applications -%}
          <li class="cart-discounts__item">
            <span class="cart-discounts__label">
              {{- 'icon-discount.svg' | inline_asset_content -}}
              {{ discount.title | escape }}
            </span>
            <span class="cart-discounts__value cart-secondary-typography"
              >-{{ discount.total_allocated_amount | money -}}
            </span>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  {% if settings.show_cart_note or settings.show_add_discount_code %}
    <div class="cart-actions">
      {% if settings.show_cart_note %}
        <script
          type="module"
          src="{{ 'cart-note.js' | asset_url }}"
        ></script>

        <cart-note style="display: flex;">
          {% capture cart_note_accordion_children %}
            <details
              {% if settings.cart_note_open_by_default %}
                open
              {% endif %}
            >
              <summary class="cart-note__summary">
                <span class="cart-note__label cart-primary-typography">
                  {{ 'content.seller_note' | t }}
                </span>

                <span class="cart-totals__icon">
                  {{- 'icon-plus.svg' | inline_asset_content -}}
                </span>
              </summary>

              <div class="details-content cart-note__inner">
                <label
                  for="cart-note"
                  class="visually-hidden"
                >
                  {{- 'content.seller_note' | t -}}
                </label>
                <textarea
                  form="cart-form"
                  on:input="/updateCartNote"
                  id="cart-note"
                  class="cart-note__instructions"
                  name="note"
                  data-skip-node-update
                >{{ cart.note }}</textarea>
              </div>
            </details>
          {% endcapture %}
          {% render 'accordion-custom-component',
            children: cart_note_accordion_children,
            class: 'cart-note',
            open_by_default_on_desktop: settings.cart_note_open_by_default,
            open_by_default_on_mobile: settings.cart_note_open_by_default
          %}
        </cart-note>
      {% endif %}
      {% if settings.show_cart_note and settings.show_add_discount_code %}
        <div class="cart-actions__divider"></div>
      {% endif %}
      {% if settings.show_add_discount_code %}
        {% liquid
          assign discount_codes = cart.cart_level_discount_applications | where: 'type', 'discount_code' | map: 'title'
          for item in cart.items
            for allocation in item.line_level_discount_allocations
              if allocation.discount_application.type == 'discount_code'
                assign discount_codes = item.line_level_discount_allocations | slice: forloop.index0 | map: 'discount_application' | map: 'title' | concat: discount_codes
              endif
            endfor
          endfor

          assign discount_codes = discount_codes | uniq

          # Evaluate the boolean expression for the disclosure state
          if discount_codes.size == 0
            assign disclosure_expanded = false
          else
            assign disclosure_expanded = true
          endif
        %}

        {% capture cart_discount_accordion_children %}
          <details
            {% if disclosure_expanded %}
              open
            {% endif %}
          >
            <summary class="cart-discount__summary">
              <span class="cart-discount__label cart-primary-typography">{{ 'content.discount' | t }}</span>

              <span class="cart-totals__icon">
                {{- 'icon-plus.svg' | inline_asset_content -}}
              </span>
            </summary>

            <div class="details-content">
              <div id="cart-discount-disclosure">
                <cart-discount-component
                  {% if section_id != blank %}
                    data-section-id="{{ section_id }}"
                  {% endif %}
                >
                  <div class="cart-discount__content">
                    <form
                      on:submit="/applyDiscount"
                      onsubmit="return false;"
                      class="cart-discount__form"
                    >
                      <label
                        for="cart-discount"
                        class="visually-hidden"
                      >
                        {{- 'accessibility.discount' | t -}}
                      </label>
                      <input
                        id="cart-discount"
                        class="cart-discount__input"
                        type="text"
                        name="discount"
                        size="8"
                        placeholder="{{ 'content.discount_code' | t }}"
                        required
                        data-skip-node-update
                      >
                      <button
                        type="submit"
                        class="button cart-discount__button"
                      >
                        {{ 'actions.apply' | t }}
                      </button>
                    </form>
                  </div>
                  <div
                    class="cart-discount__error hidden"
                    role="alert"
                    ref="cartDiscountError"
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    <small
                      class="cart-discount__error-text cart-primary-typography hidden"
                      ref="cartDiscountErrorDiscountCode"
                    >
                      {{ 'content.discount_code_error' | t: code: 'test' }}
                    </small>
                    <small
                      class="cart-discount__error-text cart-primary-typography hidden"
                      ref="cartDiscountErrorShipping"
                    >
                      {{ 'content.shipping_discount_error' | t }}
                    </small>
                  </div>
                  <ul class="cart-discount__codes">
                    {% for discount_code in discount_codes %}
                      <li
                        class="cart-discount__pill"
                        data-discount-code="{{ discount_code }}"
                        aria-label="{{ 'accessibility.discount_applied' | t: code: discount_code }}"
                      >
                        <p class="cart-discount__pill-code">
                          {{ discount_code }}
                        </p>
                        <button
                          type="button"
                          on:click="/removeDiscount"
                          class="cart-discount__pill-remove svg-wrapper svg-wrapper--smaller button-unstyled"
                          aria-label="{{ 'actions.remove_discount' | t: code: discount_code }}"
                        >
                          {{- 'icon-filters-close.svg' | inline_asset_content -}}
                        </button>
                      </li>
                    {% endfor %}
                  </ul>
                </cart-discount-component>
              </div>
            </div>
          </details>
        {% endcapture %}
        {% render 'accordion-custom-component', children: cart_discount_accordion_children, class: 'cart-discount' %}
      {% endif %}
    </div>
  {% endif %}

  {%- liquid
    if settings.currency_code_enabled_cart_total
      assign total_price = cart.total_price | money_with_currency
    else
      assign total_price = cart.total_price | money
    endif
  -%}

  <div class="cart-totals__container{% if settings.show_installments %} cart-totals__container--has-installments{% endif %}">
    <span
      class="cart-totals__item cart-totals__total"
      role="status"
    >
      <span class="cart-totals__total-label cart-primary-typography">{{ 'content.cart_estimated_total' | t }}</span>
      <text-component
        ref="cartTotal"
        value="{{ total_price | strip_html }}"
        class="cart-totals__total-value cart-secondary-typography"
        {% comment %} Used by payment_terms web component {% endcomment %}
        data-testid="cart-total-value"
        data-cart-subtotal
      >
        {{ total_price }}
      </text-component>
    </span>
    {% if settings.show_installments %}
      <span class="cart-totals__item cart-totals__installments">
        {% form 'cart', cart %}
          {{ form | payment_terms }}
        {% endform %}
      </span>
    {% endif %}
    {% if settings.show_cart_tax_note %}
    <div class="cart-totals__item cart-totals__tax-note cart-primary-typography">
      {% render 'cart-tax-note', has_discounts_enabled: settings.show_add_discount_code %}
    </div>
    {% endif %}
  </div>
</div>

<div class="cart__ctas">
  <button
    type="submit"
    id="checkout"
    class="cart__checkout-button button"
    name="checkout"
    {% if cart == empty %}
      disabled
    {% endif %}
    form="cart-form"
  >
    <span class="button-text">
      {{ 'content.checkout' | t }}
    </span>
  </button>

  {% if additional_checkout_buttons and settings.show_accelerated_checkout_buttons %}
    <div
      class="
        additional-checkout-buttons
        {% if accelerated_checkout_buttons_layout == 'vertical' %}additional-checkout-buttons--vertical{% endif %}
      "
    >
      {{ content_for_additional_checkout_buttons }}
    </div>
  {% endif %}
</div>

