{% assign block_settings = block.settings %}

<div
  class="
    payment-icons
    spacing-style
  "
  style="
    {% render 'spacing-padding', settings: block_settings %}
    --icon-gap: {{ block_settings.gap }}px;
    --alignment: {{ block_settings.horizontal_alignment }};
  "
  {{ block.shopify_attributes }}
>
  <span class="visually-hidden">{{ 'blocks.payment_methods' | t }}</span>
  <ul
    class="payment-icons__list"
    role="list"
  >
    {%- for i in (1..10) -%}
      {%- liquid
        assign icon_key = 'icon_' | append: i
        assign name_key = 'name_' | append: i
        assign icon_image = block_settings[icon_key]
        assign icon_name = block_settings[name_key] | strip
      -%}
      {%- if icon_image != blank -%}
        <li class="payment-icons__item">
          {{
            icon_image
            | image_url: width: 120
            | image_tag:
              class: 'icon icon--full-color',
              loading: 'lazy',
              widths: '40, 60, 80, 120',
              sizes: '38px',
              alt: icon_name
          }}
          {%- if icon_name != blank -%}
            <span class="visually-hidden">{{ icon_name }}</span>
          {%- endif -%}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>

{% stylesheet %}
  .payment-icons {
    width: 100%;
  }

  .payment-icons__list {
    display: flex;
    align-items: center;
    justify-content: var(--alignment);
    flex-wrap: wrap;
    gap: var(--icon-gap);
    margin: 0;
    padding: 0;
  }

  .payment-icons__item {
    display: flex;
    align-items: center;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.payment_icons",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_1"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_1",
      "label": "t:settings.title",
      "default": "Visa"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_2"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_2",
      "label": "t:settings.title",
      "default": "Mastercard"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_3"
    },
    {
      "type": "image_picker",
      "id": "icon_3",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_3",
      "label": "t:settings.title",
      "default": "Mada"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_4"
    },
    {
      "type": "image_picker",
      "id": "icon_4",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_4",
      "label": "t:settings.title",
      "default": "Tabby"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_5"
    },
    {
      "type": "image_picker",
      "id": "icon_5",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_5",
      "label": "t:settings.title",
      "default": "Tamara"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_6"
    },
    {
      "type": "image_picker",
      "id": "icon_6",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_6",
      "label": "t:settings.title",
      "default": "Apple Pay"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_7"
    },
    {
      "type": "image_picker",
      "id": "icon_7",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_7",
      "label": "t:settings.title",
      "default": "COD"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_8"
    },
    {
      "type": "image_picker",
      "id": "icon_8",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_8",
      "label": "t:settings.title"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_9"
    },
    {
      "type": "image_picker",
      "id": "icon_9",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_9",
      "label": "t:settings.title"
    },
    {
      "type": "header",
      "content": "t:content.payment_icon_10"
    },
    {
      "type": "image_picker",
      "id": "icon_10",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name_10",
      "label": "t:settings.title"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.payment_icons",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
